.simple-calendar {
  .day {
    color: #626343;
  }
  .wday-0 {
    background: #fdf5f9;
    color: red;
  }

  .wday-6 {
    background: #f3f9fd;
    color: blue;
  }

  .current-month {
    font-family: "M PLUS Rounded 1c";
  }

  .calendar-heading {
    display: flex;
    align-items: center;
  }

  .calendar_heading_month {
    font-size: 50px;
    font-weight: 900;
    font-family: "M PLUS Rounded 1c";
    color: #626343;
    margin-right: 30px;
  }

  .month_select_btns {
    display: flex;
  }

  .month_select_btn {
    background-color: #626343;
    border-radius: 5px;
    color: #ffeaea;
    padding: 10px;
    margin: 10px;
  }

  .wdays_field {
    background-color: #e2ecba;
    font-family: "M PLUS Rounded 1c";
  }

  .wdays {
    text-align: center;
  }
}
