.wrapper {
  width: 100vw;
  height: fit-content;
  display: flex;
}

.side_bar_area {
  width: 20vw;
  min-height: 700px;
  background-color: #cee7d7;
}

.lists {
 padding-top: 30px;
}

.list {
  margin: 20px 30px 0 20px;
  padding: 10px;
  font-size: 20px;
  color: #626343;
  font-family: 'M PLUS Rounded 1c';
}

.list_other_user {
  margin: 20px 30px 0 20px;
  padding: 10px;
  font-size: 18px;
  color: #626343;
  font-family: 'M PLUS Rounded 1c';
}

.other_users {
  margin: 0 0 15px 20px;
  font-size: 20px;
  font-weight: 600;
  color: #00803d;
  font-family: 'M PLUS Rounded 1c';
}

.other_user_nil {
  margin: 0 0 15px 30px;
  font-size: 15px;
  color: #00803d;
  font-family: 'M PLUS Rounded 1c';
}
.main_area_top{
  width: fit-content;
  height: fit-content;
  margin: 20px 0 0 20px;
}

.receipt {
  width: calc(100vw - 250px);
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  font-family: 'M PLUS Rounded 1c';
  color: #e61639;
}

.receipt_btn{
width: fit-content;
margin: 30px auto;
padding: 5px;
font-size: 20px;
font-family: "M PLUS Rounded 1c";
color: #fffded;
border: 1px none;
border-radius: 5px;
text-align: center;
background-color: #626343;
}

.greeting { 
  width: calc(100vw - 250px);
  text-align: center;
  font-size: 30px;
  font-family: 'M PLUS Rounded 1c';
  color: #f4b2ba;
}

.total_price {
  width: calc(100vw - 250px);
  text-align: center;
  font-size: 30px;
  font-family: "M PLUS Rounded 1c";
  color: #626343;
}

.prices {
  margin: 0 10px;
  font-size: 40px;
  font-family: "M PLUS Rounded 1c";
  font-weight: 900;
  color: #f4b2ba;
}

.prev_total_price{
  width: calc(100vw - 250px);
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-family: "M PLUS Rounded 1c";
  color: #626343;
}

.prev_prices {
  margin: 0 10px;
  font-size: 30px;
  font-family: "M PLUS Rounded 1c";
  font-weight: 900;
  color: #beb098;
}

.top_content {
  width: calc(100vw - 250px);
}

.calendar_area {
  width: 80vw;
  margin: 50px;
}

.total_price_by_date {
  font-size: 20px;
  color: #626343;
  text-align: center;
}


.to-dos_records_wrapper {
  margin: 20px 50px;
  font-size: 20px;
  font-family: "M PLUS Rounded 1c";
  color: #626343;
}

.to_dos_records {
  display: flex;
  margin-bottom: 10px;
}

.to_dos_record_date {
  width: 10vw;
}

.to_dos_record_content {
  width: 40vw;
  max-width: 300px;
}

.to_dos_record_price{
  width: 15vw;
}

.record_btn {
  margin: 0 10px 5px 0;
  padding: 5px;
  font-size: 15px;
  font-family: "M PLUS Rounded 1c";
  color: #fffded;
  border: 1px none;
  border-radius: 5px;
  text-align: center;
  background-color: #beb098;
}