.other_users_list{
margin-left: 5px;
}

.other_users_name {
  padding: 10px;
  font-size: 30px;
  font-weight: 600;
  color: #626343;
  font-family: 'M PLUS Rounded 1c';
}

.ontehr_user_side_bar_area {
  width: 20vw;
  min-height: 700px;
  background-color: #cde8e9;
}

.other_users_return_btn {
  margin: 50px 25px;
  padding: 5px;
  font-size: 20px;
  color: #fffded;
  font-family: 'M PLUS Rounded 1c';
  border: none;
  border-radius: 5px;
  background-color: #68abc4;
  text-align: center;
}